{% extends "base.html" %}
{% block title %}photo_detail.html{% endblock %}


<style>
<!--.textarea2 {-->
<!-- width: 300px;-->
<!-- height: 100px;-->
<!-- background-color: yellow;-->
<!-- font-size: 1em;-->
<!-- font-weight: bold;-->
<!-- font-family: Verdana, Arial, Helvetica, sans-serif;-->
<!-- border: 1px solid black;-->
<!--}-->









</style>


<!--            <textarea name="content" rows="3" class="textarea2"></textarea>-->

{% block content %}
<br>
<div class="row">
    <div class="col-md-8">
        <a href="{{ object.image.url }}">
            <img src="{{ object.image.url }}" style="width: 100%;">

        </a>
        <br><br>
        <div class="col-2"> <!-- 추천영역 -->
            <div class="bg-light text-center p-3 border font-weight-bolder mb-1">{{photo.voter.count}}</div>
            <a href="#" data-uri="{% url 'insta:vote_photo' photo.id  %}"
               class="recommend btn btn-sm btn-secondary btn-block my-1">좋아요</a>
        </div>


    </div>


    <ul class="col-md-4 mt-3">

        <a>ID : {{ photo.owner.username }}</a>

<!--        <h2 class="mt-1">{{ object.title }}</h2>-->

        {% if object.description %}
        <p>{{ object.description|linebreaks }}</p>
        {% else %}
        <p>(blank)</p>
        {% endif %}
        <p class="font-italic">{{ object.upload_dt }}</p>


        {% if request.user == photo.owner %}
        <div class="my-3">
            <a href="{% url 'insta:photo_modify' photo.id  %}"
               class="btn btn-sm btn-outline-secondary">수정</a>
            <a href="#" class="delete btn btn-sm btn-outline-secondary"
               data-uri="{% url 'insta:photo_delete' photo.id  %}">삭제</a>
        </div>
        {% endif %}


        <form action="{% url 'insta:answer_create' photo.id %}" method="post">
            {% csrf_token %}

            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field in form %}
                {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}


            <textarea name="content" rows="2" class="textarea"></textarea>
            <input type="submit" value="게시">
        </form>


        <h5>{{ photo.answer_set.count }}개의 댓이 있습니다.</h5>


        {% for answer in photo.answer_set.all %}
        <div class="card-body">
            {{ answer.content }}
            <div class="d-flex justify-content-end">

                <div class="badge badge-light p-2 text-left">

                    {% if request.user == answer.owner %}
                    <div class="my-1">
                        <a href="{% url 'insta:answer_modify' answer.id  %}"
                           class="btn btn-sm btn-outline-secondary">수정</a>
                        <a href="#" class="delete btn btn-sm btn-outline-secondary"
                           data-uri="{% url 'insta:answer_delete' answer.id %}">삭제</a>
                    </div>
                    {% endif %}

                    <div class="mb-0">{{ answer.owner.username }} {{ answer.create_date }}</div>

<!--                    <div class="mb-2">{{ answer.owner.username }}</div>-->
<!--                    <div>{{ answer.create_date }}</div>-->


                </div>
            </div>
        </div>
        {% endfor %}


    </ul>


</div>


{% endblock %}


{% block script %}
<script type='text/javascript'>
    $(document).ready(function () {
        $(".delete").on('click', function () {
            if (confirm("정말로 삭제하시겠습니까?")) {
                location.href = $(this).data('uri');
            }
        });
        $(".recommend").on('click', function () {
            if (confirm("정말로 추천하시겠습니까?")) {
                location.href = $(this).data('uri');
            }
        });
    });



</script>
{% endblock %}
